*.bak
blib/
_build/
.build/
Build
Build.bat
cover_db/
Hash-Fold-*
Hash-Fold-*.tar.gz
inc/
.last_cover_stats
.lwpcookies
Makefile
Makefile.old
META.*
MYMETA.*
nytprof.out
pm_to_blib
pod2htm*.tmp
temp.*
